.menuBox {
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #eff9fe;
    box-shadow:  0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    position: relative;

    .logo {
        width: auto;
        height: 58px;
        margin-top: 10px;
        display: flex;
        cursor: pointer;

        .logoImg {
            width: 48px;
            height: 48px;
        }
        .logoImgCollapsed {
            margin-left: auto !important;
            margin-right: auto !important;
        }
        .logoName {
            height: 45px;
        }
    }
    .buttonGroup {
        margin-top: 46px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .button {
            width: 214px;
            height: 64px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            padding-left: 24px;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            &:hover {
                background: rgba(15, 57, 87, 0.06);
            }
            .buttonIcon {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .buttonName {
                width: 140px;
                margin-left: 20px;
                font-size: 18px;
                font-weight: 500;
                line-height: 20px;
                color: #000000;
                transition: all 0.2s ease-in-out;
            }
        }
        .createButton {
            .buttonIcon {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 15px 0 0 12px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: #4f46e5;

                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                svg {
                    display: block;
                }
            }
        }

        .collapsedButton {
            width: 64px;
            height: 64px;
            padding-left: 14px;

            .buttonName {
                width: 0px;
                overflow: hidden;
                margin-left: 0px;
            }
        }
    }

    .userInfo {
        //flex: 1;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: auto;
        margin-bottom: 15px;
        gap: 20px;

        cursor: pointer;

        .avatar {
            width: 56px;
            height: 56px;
            border-radius: 28px;
            background: rgb(201, 221, 239);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .userBase {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .userName {
            margin-top: 5px;
            font-size: 14px;
            font-weight: 1000;
            color: #333;
            line-height: 1.2;
        }

        .userCount {
            margin-top: 4px;
            font-size: 12px;
            color: #999;
        }
        .userAction {
            margin-top: 12px;
        }

        .collapsedUse {
            display: none;
        }
    }
}

.tip {
    width: 180px;
    padding: 8px 12px;
    background-color: #ffffff;

    .tipUser {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 8px;

        .tipIcon {
            width: 30px;
            height: 30px;
            border-radius: 28px;
            background: rgb(201, 221, 239);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .tipUserName {
            font-weight: 500;
            color: #000000;
        }

        .tipPlan {
            font-size: 12px;
            color: #666;
            span {
                color: #1677ff;
            }
        }
    }
    .tipOptions {
        font-size: 14px;

        .buttons {
            width: 160px;
            border: 0;

            &:hover {
                background-color: #9c9ca085;
                color: white;
                box-shadow: 0 2px 8px rgba(79, 70, 229, 0.3);
            }
        }
    }
}
