.menuBox {
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    height: 100%;

    .logo {
        width: auto;
        height: 58px;
        margin-top: 10px;
        display: flex;

        .logoImg {
            width: 48px;
            height: 48px;
        }
        .logoImgCollapsed {
            margin-left: auto !important;
            margin-right: auto !important;
        }
        .logoName {
            height: 45px;
        }
    }
    .buttonGroup {
        margin-top: 46px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .button {
            width: 214px;
            height: 64px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            padding-left: 24px;
            background: #ffffff;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            &:hover {
                background: rgba(15, 57, 87, 0.06);
            }
            .buttonIcon {
                width: 30px;
                height: 30px;
                background: white;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .buttonName {
                width: 140px;
                margin-left: 20px;
                font-size: 18px;
                font-weight: 500;
                line-height: 20px;
                color: #000000;
                transition: all 0.2s ease-in-out;
            }
        }
        .createButton {
            .buttonIcon {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 15px 0 0 12px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: #4f46e5;

                

                svg{

                    display:block;

                }
            }
        }

        .collapsedButton {
            width: 64px;
            padding-left: 17px;
            .buttonName {
                width: 0px;
                overflow: hidden;
                margin-left: 0px;
            }
        }
    }

    .userInfo {
        //flex: 1;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: auto;
        margin-bottom: 15px;
        gap: 20px;

        .avatar {
            width: 56px;
            height: 56px;
            border-radius: 28px;
            background: rgb(201, 221, 239);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .userBase {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .userName {
            margin-top: 5px;
            font-size: 14px;
            font-weight: 1000;
            color: #333;
            line-height: 1.2;
        }

        .userCount {
            margin-top: 4px;
            font-size: 12px;
            color: #999;
        }
        .userAction {
            margin-top: 12px;
        }

        .collapsedUse {
            display: none;
        }
    }

    .tip {
        width: 180px;
        padding: 8px 12px;

        .tipUser {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 8px;
        }

        // 用户名样式
        .tipUserName {
            font-weight: 500;
        }

        // 套餐文字样式
        .tipPlan {
            font-size: 12px;
            color: #666;
            span {
                color: #1677ff;
            }
        }

        // 操作选项区域
        .tipOptions {
            font-size: 14px;
            line-height: 28px;
        }

        // 登出文字样式
        .tipLogout {
            color: #ff4d4f;
        }
    }
}
