.selectBox {
    //   border: 1px solid red;
    :global {
        .ant-select-selector:hover {
            border: 1px solid #4f46e5 !important;
        }
        .ant-select-selection-item::after {
            color: red !important;
        }
        .ant-select-dropdown {
            width: auto;
        }
    }
    .optionBox {
        .preIcon {
        }
    }
}
