.container{
    width:100%;
    border-radius: 8px; 
    background-color: white;
    height: autox;
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap:10px;

    .title{
        font-size: 24px;
        font-weight: 700;
    }

    .title2{
        color: rgb(192, 193, 193);
        font-weight: 500;
        font-size: 16px;
    }

    .UpdateBt, .PasswordBt{
        border-radius: 6px;
        color: #fff;
        background: #4f46e5;
        border-color: #fff;
        font-size: 12px;

        width:100px;
        height: 40px;
    }

    .PasswordBt{
        width:150px;
    }


    .emailRow{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        .verifiedGroup {
            display: flex;
            align-items: center;
            gap: 0; 
        }

        .verified, .check{
            text-align: right;
            padding:0;
            
        }

        .verified{
            font-weight: 700;
        }

        .check{
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }

    .customHr {
        border: none;
        height: 1px; /* 核心：必须设置高度，否则线条高度为0 */
        background-color: #e5e7eb; /* 替换成你想要的颜色 */
        width: 100%;
        margin: 16px 0;
    }


}